
.content{
	margin-top: 300px;
}

.h-title{
	text-align: center;
}

.userName{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	justify-content: center;

	margin-bottom: 20px;
}

.phone{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	justify-content: center;

	margin:0 172px 20px 0;
}

.verifycode{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	justify-content: center;

	margin: 0 258px 20px 0;
}

.enrollForm .txt{
	width:300px;
	font-family:"微软雅黑";
	border:1px solid #CCCCCC;
	border-radius:3px;
	line-height:28px;
}

.warn-words{
	padding:10px 10px;
	font-size: 12px;
}

div a{
	color: #333;
	text-decoration: none;
}

.enrollForm .txt.eCode{width:170px;margin-top: -5px;}

.enroll-btn{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	justify-content: center;
}

.enroll-btn button{
	width: 200px;
	line-height:40px;
	text-align:center;
	background:#74BF49;
	color:#fff;
	border-radius:3px;
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:300;
}

.enroll-btn button:hover{
	background:#21b436;
	color:#fff;
}

#btnImgCode{
	 width: 70px; 
	 height: 25px;
}

.img{
	width: 400px;
	height: 600px;
}

.img-div{
	display: none;
	text-align: center;
}


